{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block body%}
<div class="form">
    <form action="/register" method="POST">  
        <input class="input" autocomplete="off" name="username" placeholder="Username"/>
        <input class="input" autocomplete="off" name="email" placeholder="Email"/>
        <input class="input" autocomplete="off" type="password" name="password" placeholder="Password"/>
        <input class="input" autocomplete="off" type="password" name="confirmation" placeholder="Confirm Password"/>
        <input class="button btn btn-primary" value="Register" type="submit"/>
    </form>
</div>
{% endblock %}