{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block body%}
<form action="/register" method="POST">  
    <input autocomplete="off" name="username" placeholder="Username"/>
    <input autocomplete="off" name="email" placeholder="Email"/>
    <input autocomplete="off" type="password" name="password" placeholder="Password"/>
    <input autocomplete="off" type="password" name="confirmation" placeholder="Confirm Password"/>
    <input value="Register" type="submit"/>
</form>
{% endblock %}